{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Home Section -->

<section id="home" class="section-content">
  <div class="container">
    <h1>Hi, my name is Gladys Oro</h1>
    <div class="typing-container">I am a <span id="typing-text"></span></div>
  </div>
</section>

<section id="about" class="section-content">
  <div class="container">
    <h2>About Me</h2>
    <div class="code-structure">
      <pre>
              <code id="about-code"></code>
          </pre>
    </div>
  </div>
</section>

<section id="skills" class="section">
  <div class="container">
    <h2>Skills</h2>
    <div class="row skills-container fade-in">
      <!-- Add your skills -->
    </div>
  </div>
</section>

<section id="projects" class="section">
  <div class="container">
    <h2>Projects</h2>
    <div class="row">
      {% for project in projects %}
      <div class="col-md-6 col-lg-3 mb-4 fade-in">
        <div class="card project-card">
          <img
            src="{{ project.thumbnail.url }}"
            class="card-img-top"
            alt="{{ project.title }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ project.title }}</h5>
            <p class="card-text">{{ project.description }}</p>
            <a href="{{ project.url }}" class="btn btn-primary">View Project</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="contact" class="section">
  <div class="container">
    <h2>Contact Me</h2>
    <div class="row">
      <div class="col-md-6 fade-in">
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
